[submodule "modules/ladac"]
	path = modules/ladac
	url = ../ladac.git
[submodule "modules/ladac-examples-data"]
	path = modules/ladac-examples-data
	url = ../ladac-examples-data.git
[submodule "modules/matlab2tikz"]
	path = modules/matlab2tikz
	url = ../../matlab2tikz/matlab2tikz.git
[submodule "modules/ardupilog"]
	path = modules/ardupilog
	url = ../../Georacer/ardupilog.git
